:root {
  --bg-white: #f5f5f5;
  --bg-dark: #171717;
  --border: 1px solid#eeeeee;
}

body {
  background-color: var(--bg-white);
}

.calcutor__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0.5rem;
  border: var(--border);
  width: 30%;
  display: grid;
  row-gap: 10px;
}

.calculator__display {
  padding: 1.5rem 1rem;
  border: var(--border);
}

.operators__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 5px;
}

.operator {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #dddddd;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  text-align: center;
}
